.tittle-section {
	text-align: center;
	margin: 1em;
	font-size: 3em;
	color: #0288d1;
}

.section-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(25em, 1fr));
	grid-gap: 2em;
	margin:4em;
   justify-content: center;
}
.section-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 1em;
	padding: 5px;
   padding-bottom: 5em;
	background-color: #b3e5fc;
	border-radius: 15px;
	box-shadow: 0 0 10px #0288d1;
   position:relative;
   max-width: 25em;
}

.section-item h2 {
   width: 100%;
  
	font-size: 1.5em;
	text-align: center;
	color:#0288d1;
	margin:0.5em;
}
.img-item {
	width: 90%;
	height: 20em;
	object-fit: cover;
	border-radius: 10px;
}
.button-item-container {
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: center;
   align-items:flex-end;
   bottom:0em;
   position:absolute;
   
   
}
.button-item-right,
.button-item-left {
   cursor: pointer;
   transition: transform 0.3s ease;

   
   
}
.button-item-right:hover,
.button-item-left:hover {
   transform: scale(1.2);
}

.button-item-right img,
.button-item-left img {
   width: 3em;
   height: 3em;
   margin:1em;
   
}



